SecretStorage==3.1.2
bleach==3.1.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
check-manifest==0.41
colorama==0.4.3
cryptography==2.8
docutils==0.16
gocept.zestreleaser.customupload==3.0
idna==2.9
importlib-metadata==1.5.0
jeepney==0.4.3
keyring==21.2.0
pep517==0.8.1
pkginfo==1.5.0.1
pycparser==2.20
pygments==2.6.1
pyroma==2.6
python-gettext==4.0
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
toml==0.10.0
tqdm==4.43.0
twine==3.1.1
urllib3==1.25.8
webencodings==0.5.1
zest.pocompile==1.5.0
zest.releaser==6.20.1
zipp==3.1.0
